body {
  background-color: tan;
}

#formElements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  text-align: center;
}
.centerChildren {
  display: flex;
  justify-content: center;
  /* or on the button:
   margin:0 auto; 
   display:block */
}

button{
    margin: 10px 0;
}
@media (min-width: 600px) {
  #formElements {
    display: flex;
    justify-content: space-evenly;
  }

  #lists{
    display: flex;
    justify-content: space-around;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
