body {
  background-color: tan;
}

#formElements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  text-align: center;
}
.centerChildren {
  display: flex;
  justify-content: center;
  /* or
   margin:0 auto; 
   display:block */
}
